.Login {
    width: 96%;
    margin: 20% 10%;
    padding: .8rem 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: #000000;
    text-align: center;
    font-size: 1.2rem;
    transform: translateX(-80px);
}

.SignUp {
    margin: 0 0 0 20%;
    color: #6495ED;
    cursor: pointer;
}

.Error {
    margin: 0 0 0 20%;
    color: #ee5555;
}