.success{
    position: fixed;
    z-index: 15;
    background: #eee;
    text-transform: capitalize;
    text-align:center;
    top: 0;
    left: 0;
    padding: 5rem;
    height: 100%;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    @media screen and (max-width: $break-small) {
        font-size: 2rem;
        padding: 2rem;
    }
}

.success h1{
    width: 100%;
    float: left;
}

.success p{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    @media screen and (max-width: $break-small) {
        font-size: 1.2rem;
    }
}

.success img{
    width: 5rem;
    height: 5rem
}
.success.order_btn{
    width: auto;
    padding: 1rem 2rem;
    @media screen and (max-width: $break-small) {
        padding: .7rem 1rem;
    }
}